

    {{#if hayProductos}} 
        <div class="row">
            {{#each productos}}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src={{this.foto}} alt="not found" width="100" height="100">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$ {{this.precio}}</h6>
                        <p class="card-text">{{this.descripcion}}</p>
                        <button id="btnAddItemCarrito" class="btn btn-primary" onclick="addItemClick('{{this.id}}')" >Agregar</button>
                        <a href="/productos/{{this.id}}">Ver</a>
                    </div>
                </div>                
            {{/each}}
        </div>
        <script src="/scripts/productos/addItemCarrito.js"></script>
    {{else}}  
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}



    